body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.wrapper {
  text-align: right;
  margin:  auto;
  padding-top: 4px;
}
.icon-search-container {
  display: inline-block;
  border: 2px solid #d9d9d9;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  position: relative;
  transition: width 0.4s ease-out;
  backface-visibility: hidden;

  &.active {
    width: 285px;

    .fa-times-circle {
      opacity: 1;
    }
    .search-input {
      width: 200px;
    }
  }

  .fa-search {
    color: #2980b9;
    font-size: 20px;
    position: absolute;
    top: 7px;
    left: 8px;
    cursor: pointer;
  }
  .fa-times-circle {
    opacity: 0;
    color: #d9d9d9;
    font-size: 20px;
    position: absolute;
    top: 12px;
    right: 8px;
    transition: opacity 0.4s ease-out;
    cursor: pointer;
  }

  .search-input {
    position: absolute;
    cursor: default;
    left: 45px;
    top: 3px;
    width: 0;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0);
    transition: width 0.4s ease-out;
  }

}